.Profile {
  display: grid;
  grid-template-columns: 28fr 1fr;
  height: 100vh;
}

.ProfileContent {
  margin: 144px auto 30px auto;
  width: 556px;

  .userInfo {
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 25px;

    h1 {
      font-weight: 800;
      font-size: 58px;
      line-height: 52px;
      color: #0058d9;
    }

    p {
      margin-top: 12px;
      font-weight: 500;
      font-size: 18px;
      line-height: 52px;
      color: #202020;
    }
  }

  .userHistory {
    margin: 20px auto;

    button {
      padding: 10px;
      border: none;
      background: none;
      margin-right: 14px;
      font-size: 14px;
      line-height: 17px;
      color: #1d1d1d;
      border-radius: 4px;

      &:hover {
        background-color: rgba(210, 81, 64, 0.08);
        cursor: pointer;
      }
    }

    .active {
      background: rgba(64, 210, 105, 0.08);
    }
  }
}
