.about {
  padding: 102px 76px 0 72px;
  border-right: 1px solid #f9f9f9;
}

.titleName {
  font-weight: 800;
  font-size: 72px;
  line-height: 52px;
  color: #202020;
}

.subTitleName {
  font-weight: 500;
  font-size: 34px;
  line-height: 52px;
  color: #aaaaaa;
  margin: 15px 0 23px 0;
}

.descriptionTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 52px;
  color: #202020;
  margin-top: 24px;
}

.description {
  font-size: 16px;
  line-height: 28px;
}
